<div class="row">
    <div class="col-md-4 col-md-offset-4 settings">
        <form role="form">
            <p> RabbitMQ: <span class="label {{state?'label-success':'label-danger'}}">{{state?'connected':'disconnected'}}</span></p>

            <div class="form-group">
                <label for="ampq_url"> AMPQ URI</label>
                <input type="text" class="form-control" id="ampq_url" ng-model='ampq_url'>
            </div>
            <button type="submit" class="btn btn-default" ng-click="onConnect()">connect</button>
        </form>
    </div>
</div>